@(user: models.User)

@index("User") {
	<ul>
	<br> <strong>Email:</strong> @user.getEmail()
	<br> <strong>Firstname:</strong> @user.getFirstname()
	<br> <strong>Surname:</strong> @user.getSurname()
	<br> <strong>Streetaddress:</strong> @user.getStreetAddress()
	<br> <strong>Postcode:</strong> @user.getPostcode()
	<br> <strong>City:</strong> @user.getTown()
	<br> <strong>Phonenumber:</strong> @user.getPhonenumber()
	</ul><br>
	<a class="button" href="/read-all-categories" id="back-button">
  <i> BACK </i></a>
}