@(product: models.Product)

@index("Product") {
	@if(flash.containsKey("item-purchased")){
	<div class="alert alert-warning">Product @product.getName has been added to your cart.</div>
	}
	<ul>
	<br> <strong>ID:</strong> @product.getId()
	<br> <strong>Name:</strong> @product.getName()
	<br> <strong>Price:</strong> @product.getRRP()
	<br> <strong>Description:</strong> @product.getDescription()
	<br> <strong>Categories:</strong> @for(category <- product.getCategories){
		 @category.toString()
	}
	</ul><br>
	@if(session().containsKey("user")){
		Purchase @product.getName
	<form action="/carts/add-product" method="post" role="form">
	<div class="radio">
  	<label>
   		 <input type="radio" name="user" id="user" value="@session().get("user")" checked>
   		 @session().get("user")
 		 </label>
	</div>
  	<div class="radio">
  	<label>
   		 <input type="radio" name="product" id="product" value="@product.getId" checked>
   		 @product.getName
 	</label>
	</div>
 	 <div class="form-group">
	    <label for="quantity">Quantity</label>
	    <select class="form-control" name="quantity">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
 	 </div>
 	 <button type="submit" class="btn btn-default">Purchase</button>
	</form>
	} else {
		<div><a href="/users/login"> Log in for purchase product</a></div>
	}
	<a class="button" href="/products" id="back-button">
 	<i> BACK </i></a>
}