@(categories: List[Category])

@index("Create Product"){
<form action="/create-product" method="post" role="form">
  <div class="form-group">
  <div class="form-group">
    <label for="product-name">Product Name</label>
    <input type="text" class="form-control" id="product-name" name="name" placeholder="Enter productname">
  </div>
  <div class="form-group">
    <label for="product-description">Product Description</label>
    <input type="text" class="form-control" id="product-description" name="description" placeholder="Enter product description">
  </div>
    <div class="form-group">
    <label for="product-cost">Product Cost</label>
    <input type="text" class="form-control" id="product-cost" name="cost" placeholder="Enter product cost">
  </div>
      <div class="form-group">
    <label for="product-RRP">Product RRP</label>
    <input type="text" class="form-control" id="product-RRP" name="RRP" placeholder="Enter product RRP">
  </div>
  <label for="product-categories">Product Categories</label>
    <div class="checkbox">
      @for(category <- categories) {
      	<div class="checkbox">
    	  <input type="checkbox" name="category" value="@category.getId"> @category.getName 
    	   </div>
   		}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
}
